body {
    font-family: 'Odibee Sans';
    background-color: rgb(104, 126, 175);
}

h1 {
    text-align: center;
    margin-bottom: 2em;
    text-transform: uppercase;
    font-size: 3em;   
}

form {
    text-align: center;
    border: solid black 2px;
    border-radius: 1em;
    padding: 1em;
    margin-left: 35%;
    margin-right: 35%;
    background-color: rgb(134, 134, 134);
}

form div {
    padding-bottom: 1.5em;
    padding-top: 0.5em;
}

form input {
    width: 50%;
    padding: 0.4em;
    border-radius: 0.8em;
    border: none;
}

form input:hover {
    background-color: rgb(206, 206, 206);
}

label {
    font-size: 1.3em;
}

.btn {
    text-align: center;
    margin-top: 2em;
}

input[type=submit] {
    border-radius: 1em;
    background-color: rgb(90, 78, 122);
    border: none;
    width: 10%;
    padding: 0.6em;
    cursor: pointer;
    color: white;
    font-size: 1em;
}

input[type=submit]:hover {
    background-color: rgb(43, 30, 78);
}

